body {
    background-color: white;
}

h1, p, td, th {
    color: black;
    font-family: Arial;
}

button {
    padding: 1em;
    border-radius: 0px;
    border: 0px;
    margin: 0.5em;
    background-color: #ab57ff;
    color: white;
}
