body {
    background-color: white;
}

table {
    width: 80%;
    align: center;
    margin: auto;
    border: 0.5em solid black;
}

.mostrecent {
    position: sticky;
    background-color: #ab57ff;
    color: white;
}

h1, p, td, th {
    color: black;
    font-family: Arial;
}
    
h1, p {
    padding: 0.5em;
}

td, th {
    text-align: center;
    padding: 1em;
}

button {
    padding: 1em;
    border-radius: 0px;
    border: 0px;
    margin: 0.5em;
    background-color: #ab57ff;
    color: white;
}
